
  <%- include('partials/header') %>
  <% if (user) { %>
  <div id="createRoomModal" class="modal" style="display: none;">
    <div class="modal-content">
        <h1 class="modal-title">Create Room</h1>
        <form id="roomForm" action="/room" method="POST">
          <div>
            Room Name: <input name="room" type="text" required>
          </div>
        </br>
          <div>
            No of Players: <input name="noOfPlayers" type="number" required>
          </div>
        </br>
          <button class="btn btn-info" type="submit">Create Room</button>
        </form>      
      </div>
  </div>

  <div id="room-container">
    <% Object.keys(rooms).forEach(room => { %>
      <div><%= room %>
        <% var team = (Math.floor(Math.random() * 2) == 0) ? 'red' : 'blue'; %>
        <form id="playerForm" action="/player" method="POST">
          <input type="text" name="room" value="<%= room %>" hidden>
          <input type="text" name="team" value="<%= team %>" hidden/>
          <button class="btn btn-primary" type="submit">Join</button>
        </form>
    <% }) %>
  </div>
</br>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" onclick="showRoomForm();">Create Room</button>
    </div>
  </div>
  <% } else { %>
    <h3>Please sign in</h3>
  <% } %>
</body>
<%- include('partials/footer') %>
