<%- include('partials/header') %>
<% if (user) { %>
<div class="container">

  <div class="row">
    <div class="col">
      <h3 class="d-flex justify-content-center">Red Team  -  <%= redTeamScore %></h3>
      <% players.forEach(player => { %>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <% if (player.team == 'red') { %>
              <%= player.name %>
            <% } %>            
          </div>
        </div>
      <% }) %>
      </div>
      <div class="col">
        <h3 class="d-flex justify-content-center">Blue Team  -  <%= blueTeamScore %></h3>
        <% players.forEach(player => { %>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <% if (player.team == 'blue') { %>
                <%= player.name %>
              <% } %>            
            </div>
          </div>
        <% }) %>
        </div>
      </div>

    </br>
  </br>
</br>
</br>
</br>
</br>
        <% players.forEach(player => { %>
          <% if (player.position === currentPlayer && player.name === user) { %>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <button id="startButton" type="submit" onclick="startTimer();">Start</button>
              </div>
            </div>
            
            <div class="row">
              <div class="col">
                <p id="word"></p>
              </div>
              <div class="col">
                <button id="nextButton" type="submit" onclick="nextWord();" style="display: none;">Next</button>
              </div>
            </div>

        <% } %>
       <% }) %>

  </br>
</br>
</br>
</br>
    <div class="row">
      <div class="col d-flex justify-content-center">    
        <h3 id="countdown"></h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 id="round"><%= currentRound %></h3>
      </div>
    </div>
</div>
<% } else { %>
  <h3>Please sign in</h3>
<% } %>
</body>
<script>
  var timeout = true;
  var currentPlayer=<%= currentPlayer %>;
  var room='<%- room %>';
  var score = <%= redTeamScore + blueTeamScore %>;
</script>
<%- include('partials/footer') %>
