<%- include('partials/header') %>
<% if (user) { %>
<div class="container">

  <div class="row">
    <div class="col">
      <h3 id="redTeam" class="d-flex justify-content-center">Red Team  -  <%= room.redTeamScore %></h3>
      <% room.players.forEach(player => { %>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <% if (player.team == 'red') { %>
              <%= player.name %>
            <% } %>            
          </div>
        </div>
      <% }) %>
      </div>
      <div class="col">
        <h3 id="blueTeam" class="d-flex justify-content-center">Blue Team  -  <%= room.blueTeamScore %></h3>
        <% room.players.forEach(player => { %>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <% if (player.team == 'blue') { %>
                <%= player.name %>
              <% } %>            
            </div>
          </div>
        <% }) %>
        </div>
      </div>

    </br>
  </br>
</br>
</br>
</br>
</br>
      <% if ((room.blueTeamScore + room.redTeamScore) >= ((room.pot1.length + room.pot2.length) * 4)) { %>
        <div class="row">
          <div class="col d-flex justify-content-center">    
            <button id="endGameButton" type="submit" class="btn btn-danger" onclick="endGame();">End Game</button>
          </div>
        </div>
        <% } else { %>
        <% room.players.forEach(player => { %>
          <% if (player.position === currentPlayer && player.name === user) { %>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <button id="startButton" class="btn btn-success" type="submit" onclick="startTimer();">Start</button>
              </div>
            </div>
            
            <div class="row">
              <div class="col d-flex justify-content-center">
                <h3 id="word"></h3>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <button id="nextButton" class="btn btn-warning" type="submit" onclick="nextWord();" style="display: none;">Next</button>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <button id="pauseTimerButton" class="btn btn-dark" type="submit" onclick="pauseTimer();" style="display: none;">Pause</button>
              </div>
              <div class="col d-flex justify-content-center">
                <button id="restartTimerButton" class="btn btn-Light" type="submit" onclick="restartTimer();" style="display: none;">Resume</button>
              </div>
            </div>

        <% } %>
       <% }) %>
        <div class="row margin-top">
          <div class="col d-flex justify-content-center">
            <h3 id="round"><%= room.currentRound %></h3>
          </div>
        </div>
       <% } %>

  </br>
</br>
</br>
</br>
    <div class="row">
      <div class="col d-flex justify-content-center">    
        <h3 id="countdown"></h3>
      </div>
    </div>
</div>
<% } else { %>
  <h3>Please sign in</h3>
<% } %>
</body>
<script>
  var timeout = true;
  var currentPlayer=<%= currentPlayer %>;
  var room='<%- room.room %>';
  var redScore = <%= room.redTeamScore %>;
  var blueScore = <%= room.blueTeamScore %>;
  var score = <%= room.redTeamScore + room.blueTeamScore %>;
</script>
<%- include('partials/footer') %>
